*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* header */

header{
    margin: 2rem 0rem;
    text-align: center;
}

h1{
    color: #e43070;
    font-weight: 900;
    font-family: 'Fredoka One', cursive;
}

p{
    margin: 2rem 0rem;
    font-family: 'Poppins', sans-serif;
}

/* /header */

/* main */

.container{
    width: 75%;
    margin: auto;
}

img{
    max-width: 100%;
    height: 6rem;
    margin-right: 1rem;
    float: left;
}

.col-4{
    width: calc(100% / 3 - 2rem);
    background-color: #000000;
    float: left;
    box-shadow: 0 0 5px #000000;
    margin: 1rem;
}

.info{
    display: table-cell;
    height: 6rem;
    vertical-align: middle;
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

h4{
    color: #faf6f8;
}

div.col-4 div:first-of-type{
    color: #faf6f8;
}

div.col-4 div:last-of-type{
    color: #3aafde;
}

/* /main */

/* footer */

footer{
    text-align: right;
    font-family: 'Poppins', sans-serif;
}

footer .container > div::after{
    content: " \00a9";
}

/* /footer */